.row{
  flex-wrap: nowrap;

}
.scene {
    display: inline-block;
    width: 100%;
    height: 100%;
  /*   border: 1px solid #CCC; */
    margin: 30px 0;
    perspective: 600px;
  
  }
  
  .cardnewer {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .cardnewer.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: rgb(255, 255, 255);
  }
  
  .card__face--back {
    background: rgb(255, 255, 255);
    transform: rotateY(180deg);
  }
  
  /* Target the group photo image using its class */
.group-photo {
  width: 70%; /* Set the width of the image */
  height: 100%; /* Set the height of the image */
}

.project-description {
  font-weight: bold;
  font-size: 12px;
}

.card-reflection {
  font-weight: bold;
  font-size: larger;
  font-size: 12px;
}

/* Circular profile images styling */
.profile-image {
  margin-left: 1%;
  border-radius: 50%; /* Make the image circular */
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-members {
  padding-top: 2%;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.student-name {
  font-weight: bold;
  font-size: small;
}

.profile-image {
  padding-right: 10px;
}
.profile-text {
  display: flex; /* Make the elements inside this container appear side by side */
  flex-direction: column; /* Align elements vertically within the container */
  font-size: smaller;
  font-size: 12px;
}

  