/* styles.css */

.row {
  display: flex;
  flex-wrap: nowrap;
}
.flip-card {
  height: 100%;
  width: 100%;
  display: flex; /* Make the card a flex container */
  align-items: center; /* Align items vertically at the center */
  border-radius: 10px;
  border: 2px solid #333;
  padding: 10px;
  flex-direction: column;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Target the group photo image using its class */
.group-photo {
  width: 70%; /* Set the width of the image */
  height: 100%; /* Set the height of the image */
}

.project-description {
  font-weight: bold;
  font-size: larger;
}

.card-reflection {
  font-weight: bold;
  font-size: larger;
}

/* Circular profile images styling */
.profile-image {
  margin-left: 1%;
  border-radius: 50%; /* Make the image circular */
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-members {
  padding-top: 2%;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.student-name {
  font-weight: bold;
  font-size: small;
}

.profile-image {
  padding-right: 10px;
}
.profile-text {
  display: flex; /* Make the elements inside this container appear side by side */
  flex-direction: column; /* Align elements vertically within the container */
  font-size: smaller;
}

.scene {
  display: inline-block;
  width: 100%;
  height: 100%;
  /*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
  padding-left: 5%;
  padding-right: 5%;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgb(0, 0, 0);
}

.card__face--back {
  background: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

h1{
  color: #1c68b3 ;
  font-size:clamp(2.5rem, 10vw, 5rem);
  font-family: 'Parisienne', cursive;
}
.card-pink{
border-radius: 6px; 
  border-bottom:4px solid #ff2c95!important;
}
.card-blue{
border-radius: 6px; 
  border-bottom:4px solid #1c68b3 !important;
}

.col .card img{
aspect-ratio: 1 / 1;
  object-fit:cover;
}
.card-body{
  padding:1rem 1.5rem;
}
.card-body p{
  color:#4B5563;
}
.card-blue svg{
  fill:#1c68b3 ;
}
.card-pink svg{
  fill:#ff2c95;
}
.card-blue .card-footer p{
  color:#1c68b3 ;
}
.card-pink .card-footer p{
  color: #ff2c95;
}
.card-shape{
  position:relative;
}
.custom-shape-divider-bottom-1634717805 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634717805 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}

.custom-shape-divider-bottom-1634717805 .shape-fill {
    fill: #FFFFFF;
}